{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">👤 Clientes</h2>

<a href="/clientes/novo" class="btn btn-primary mb-3">➕ Novo Cliente</a>

<div class="row g-4">

{% for c in clientes %}
<div class="col-md-4">
    <div class="card shadow-sm p-3">

        <h5>{{c.nome}}</h5>
        <p>📞 {{c.telefone}}</p>

        {% if c.marca %}
            <p>🚗 {{c.marca}} - {{c.modelo}}</p>
        {% else %}
            <p class="text-muted"><i>Sem veículo</i></p>
        {% endif %}

        <div class="d-flex justify-content-between mt-3">
            <a href="/clientes/editar/{{c.id}}" class="btn btn-warning btn-sm">Editar</a>
            <a href="/clientes/deletar/{{c.id}}" class="btn btn-danger btn-sm">Excluir</a>
        </div>

        <a href="/clientes/{{c.id}}/veiculos/novo"
           class="btn btn-info btn-sm mt-2">
            ➕ Veículo
        </a>

    </div>
</div>
{% endfor %}

</div>

{% endblock %}