{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">🔧 Mecânicos</h2>

<a href="/mecanicos/novo" class="btn btn-primary mb-3">➕ Novo Mecânico</a>

<div class="row g-4">

{% for m in mecanicos %}
<div class="col-md-4">
    <div class="card shadow-sm p-3">

        <h5>{{m.nome}}</h5>
        <p>🛠️ {{m.especialidade}}</p>

        <div class="d-flex justify-content-between mt-3">
            <a href="/mecanicos/editar/{{m.id}}" class="btn btn-warning btn-sm">Editar</a>
            <a href="/mecanicos/deletar/{{m.id}}" class="btn btn-danger btn-sm">Excluir</a>
        </div>

    </div>
</div>
{% endfor %}

</div>

{% endblock %}