{% extends "base.html" %}

{% block content %}

<h2>Nova Peça</h2>

<form method="post" action="/pecas/criar">

<div class="mb-3">
<input class="form-control" name="nome" placeholder="Nome">
</div>

<div class="mb-3">
<input class="form-control" name="codigo" placeholder="Código">
</div>

<div class="mb-3">
<input class="form-control" name="quantidade_estoque" placeholder="Quantidade">
</div>

<div class="mb-3">
<input class="form-control" name="preco_venda" placeholder="Preço">
</div>

<button class="btn btn-success">Salvar</button>

</form>

{% endblock %}