{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">📋 Ordens de Serviço</h2>

<a href="/os/nova" class="btn btn-primary mb-3">➕ Nova OS</a>

<div class="row g-4">

{% for os in ordens %}
<div class="col-md-6">
    <div class="card shadow-sm p-3">

        <h5>👤 {{os.cliente_nome}}</h5>
        <p>🚗 {{os.veiculo_modelo}}</p>
        <p>🔧 {{os.mecanico_nome}}</p>

        <p>
            Status:
            {% if os.status == 'ABERTA' %}
                <span class="badge bg-danger">ABERTA</span>
            {% elif os.status == 'CONCLUIDA' %}
                <span class="badge bg-success">CONCLUÍDA</span>
            {% else %}
                <span class="badge bg-secondary">{{os.status}}</span>
            {% endif %}
        </p>

        <p><strong>Problema:</strong> {{os.problema_relatado}}</p>

        <div class="d-flex justify-content-between mt-3">
            <a href="/os/{{os.id}}" class="btn btn-info btn-sm">Ver</a>

            {% if os.status == 'ABERTA' %}
            <a href="/os/finalizar/{{os.id}}" class="btn btn-success btn-sm">
                Finalizar
            </a>
            {% endif %}
        </div>

    </div>
</div>
{% endfor %}

</div>

{% endblock %}