{% extends "base.html" %}

{% block content %}

<h2 class="mb-3">Peças</h2>

<a href="/pecas/novo" class="btn btn-primary mb-3">Nova Peça</a>

<table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>

    {% for p in pecas %}
    <tr>
        <td>{{p.nome}}</td>
        <td>
            {{p.quantidade_estoque}}
            {% if p.quantidade_estoque <= 5 %}
                <span class="badge bg-danger">Baixo</span>
            {% endif %}
        </td>
        <td>R$ {{p.preco_venda}}</td>
        <td>
            <a href="/pecas/editar/{{p.id}}" class="btn btn-sm btn-warning">Editar</a>
            <a href="/pecas/deletar/{{p.id}}" class="btn btn-sm btn-danger">Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}