{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>🔴 Ordens Abertas</h2>

    <div>
        <a href="/os" class="btn btn-outline-primary">📋 Todas OS</a>
        <a href="/os/nova" class="btn btn-primary">➕ Nova OS</a>
    </div>
</div>

<div class="row g-4">

{% for os in ordens %}
<div class="col-md-4">
    <div class="card shadow-sm p-3 border-start border-4 border-danger">

        <h5 class="mb-1">👤 {{os.cliente}}</h5>
        <p class="mb-1 text-muted">🚗 {{os.veiculo}}</p>

        <span class="badge bg-danger mb-2">ABERTA</span>

        <a href="/os/{{os.id}}" class="btn btn-sm btn-dark w-100">
            Ver Detalhes
        </a>

    </div>
</div>
{% endfor %}

</div>

{% endblock %}